server:
  port: 8080

spring:
  datasource:
  url: jdbc:h2:mem:shopdb;MODE=MySQL;DB_CLOSE_DELAY=-1
  driverClassName: org.h2.Driver
  username: sa
  password:

h2:
  console:
    enabled: true
    path: /h2-console

sql:
  init:
    mode: always
    schema-locations: classpath:schema.sql
    data-locations: classpath:data.sql

logging:
  level:
    org.springframework.jdbc.core: INFO